body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

#sidebar .nav li {
	display: block;
}

#post-article {
	z-index: 6000;
	background-color: transparent;
	position: fixed;
	vertical-align: baseline;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	margin: 0;
	width: 100%;
	max-height: none;
	border: 0
}

#post-article #post-dialog-wrapper {
	top: 0px;
	height: auto;
	visibility: visible;
	display: block;
	position: relative;
	width: 930px;
	z-index: 6000;
	margin: 20px auto auto auto;
	background-color: #FFF;
	padding: 0
}

#post-article #post-dialog {
	
}

#post-article #post-dialog #body {
	height: 480px
}

#post-article .input-xlarge {
	width: 785px
}

#post-article .controls {
	margin-left: 100px
}

#post-article .control-label {
	width: 80px
}

#sidebar .nav-header a {
	color: #999
}

.navbar .btn-toolbar {
	margin: 0
}

#article-list tbody tr.active td {
	background-color: #999;
	color: #FFF
}

#article-list tbody tr.active td a {
	color: #FFF
}

#article-item {
	
}

.pagination {
	margin: 0 auto;
	padding-bottom: 8px;
	display: table
}

#loading {
	text-align: center;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 50%;
	width: 140px;
	margin-left: -70px;
	z-index: 6000;
	background-color: #F9EDBE;
	border-color: #F0C36D;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-top-right-radius: 0;
	padding: 2px 0;
}

#starred {
	padding: 5px 0 10px 0;
	line-height: 1.8
}

#starred .category-link {
	color: white;
	text-decoration: none;
	white-space: nowrap
}

#article-btns {
	margin-bottom:16px;	
	clear: both;
	float: left;
	width: 100%;
}

#btn-group-misc-article {
	float: left;
}

#btn-group-edit-article {
	float: right;
	text-align: right;
}
.btn-read {
	display: none
}