{% load i18n %} 
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/#!/" class="home-link">{% trans 'Open Alive' %}</a>
          <nav id="nav" class="nav-collapse">
            <ul class="nav">
              <li{% ifequal request.path '/' %} class="active"{% endifequal %}><a href="/#!/" class="home-link"><i class="icon-home icon-white"></i>{% trans 'Home' %}</a></li>
              <li{% ifequal request.path '/tags' %} class="active"{% endifequal %}><a href="/tags" class="tags-link"><i class="icon-tags icon-white"></i>{% trans 'Tags' %}</a></li>
              <li{% ifequal request.path '/images' %} class="active"{% endifequal %}><a href="/images"><i class="icon-picture icon-white"></i>{% trans 'Images' %}</a></li>
              <li{% ifequal request.path '/videos' %} class="active"{% endifequal %}><a href="/videos"><i class="icon-film icon-white"></i>{% trans 'Videos' %}</a></li>
              <li{% ifequal request.path '/about' %} class="active"{% endifequal %}><a href="/about"><i class="icon-info-sign icon-white"></i>{% trans 'About' %}</a></li>
            </ul>
            <form id="cse-search-form" class="navbar-search pull-left">
            	<input type="text" name="cse-search-input" id="cse-search-input" class="search-query span2" placeholder="{% trans 'Search' %}">
            	<span id="cse-branding"></span>
            </form>
            <div id="cse-search-action-form" class="hide"></div>
		    <div class="btn-toolbar pull-right">
				{% ifequal user None %}
                    <a class="btn btn-primary login-url" href="{{login_url}}"><i class="icon-arrow-right icon-white"></i> {% trans 'Login' %}</a>
                {% else %}
					<div class="btn-group">
					    <button class="btn btn-primary user"><i class="icon-user icon-white"></i> <span class="nickname">{{ user.nickname|safe }}</span></button>
					    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
						    <li><a href="/user/me" class="user">{% trans 'My Profile' %}</a></li>
						    <li class="divider"></li>
						    <li><a href="{{logout_url}}" class="login-url">{% trans 'Logout' %}</a></li>
						</ul>
				    </div>
				{% endifequal %}
			</div>
          </nav><!--/.nav-collapse -->
        </div>
      </div>
    </div>