{% extends base %}
{% load i18n %}
{% block content %}
    <ul class="thumbnails">
    	{% for item in list %}
    	<li class="span3">
    		<div class="thumbnail">
    			<img src="{{ item.image }}" width="260" alt="{{ item.title }}" class="magnify">
    			<div class="caption">
    				<h5><a href="/#!/{{ item.category }}/{{ item.id }}" class="article-item" title="{{ item.title }}">{{ item.title }}</a> <span class="comment-count">{% if item.comment_count > 0 %}({{ item.comment_count }}){% endif %}</span></h5>
    				{% if item.excerpt %}
    				<p>{{ item.excerpt }}</p>
    				{% endif %}
    			</div>
    		</div>
    	</li>
    	{% endfor %}
    </ul>
{% endblock %}

{% block jslib %}
{{ block.super }}
{% js 'js/jquery.magnifier.js' %}
{% endblock %}