{% extends base %}
{% load i18n %}
{% block content %}
      <div class="row-fluid">
        <div class="span3">
          <ul class="breadcrumb">
            <li><a href="#!/" class="home-link"><i class="icon-home icon-blue"></i>{% trans 'Home' %}</a> <span class="divider" style="display:none">/</span></li>
          </ul>
          {% if user %}
          <div id="starred-wrapper">
	        <h5><i class="icon-bookmark"></i> {% trans 'Starred Categories' %}</h5>
	        <nav id="starred"></nav>
	      </div>
	      {% endif %}
	      <div id="sidebar-wrapper">
	        <h5><i class="icon-th-list"></i> {% trans 'Category Explorer' %}</h5>
	        <nav id="sidebar" class="well sidebar-nav">
	          <ul class="nav nav-list"><li class="loading"><i class="icon-time"></i> {% trans 'Loading...' %}</li></ul>
	        </nav><!--/.well -->
	      </div>
        </div><!--/span-->
        <div id="content" class="span9">
          <article id="article-item">
            <header class="page-header">
              	<div id="article-item-meta" class="well">
              		<div id="article-item-author-avatar"></div>
              		<div id="article-item-author-nickname"></div>
	              	<div id="article-item-created"><i class="icon-pencil"></i> <time title="{% trans 'Written Date' %}"></time></div>
	              	<div id="article-item-last-updated"><i class="icon-edit"></i> <time title="{% trans 'Last Modified' %}"></time></div>              		
              	</div>            
              	<h2 id="article-item-title"></h2>
            </header>
          	<p id="article-item-body"></p>
          	<ul id="article-item-tags"></ul>
          	<hr>
          </article>
          <div id="article-reputation">
	          <div id="likes-wrapper"><i class="icon-heart icon-blue"></i><span id="likes"></span></div>
	          <div id="hates-wrapper"><i class="icon-fire icon-blue"></i><span id="hates"></span></div>
	          <ul id="best-comments"></ul>          
	          <ul id="comments">
	          	<li id="comment-load-more" class="load-more"><button id="btn-comment-load" data-loading-text="{% trans 'loading...' %}" data-complete-text="{% trans 'Show Previous' %}">{% trans 'Show Previous' %}</button></li>
	          	{% if user %}
	          	<li id="comment-input"><textarea rows="1" id="post-comment"></textarea></li>
	          	{% endif %}
	          </ul>
          </div>
          <div id="article-btns">
          	<div id="btn-group-misc-article">
          		<button id="btn-list-article" class="btn btn-read"><i class="icon-list"></i> {% trans 'List' %}</button>
          		{% if user %}
          		<button id="btn-like-article" class="btn btn-reputation btn-read"><i class="icon-heart"></i> {% trans 'Like' %}</button>
          		<button id="btn-unlike-article" class="btn btn-reputation btn-info btn-read"><i class="icon-heart icon-white"></i> {% trans 'Unlike' %}</button>
          		<button id="btn-hate-article" class="btn btn-reputation btn-read"><i class="icon-fire"></i> {% trans 'Hate' %}</button>
          		<button id="btn-unhate-article" class="btn btn-reputation btn-info btn-read"><i class="icon-fire icon-white"></i> {% trans 'Unhate' %}</button>          		
          		<button id="btn-subscribe-article" class="btn btn-subscribe btn-read"><i class="icon-eye-open"></i> {% trans 'Follow' %}</button>
          		<button id="btn-unsubscribe-article" class="btn btn-subscribe btn-info btn-read"><i class="icon-eye-close"></i> {% trans 'Unfollow' %}</button>
          		{% endif %}
          	</div>          
          	{% if user %}
          	<div id="btn-group-edit-article">
	          	<button id="btn-edit-article" class="btn btn-edit btn-read"><i class="icon-edit"></i> {% trans 'Edit' %}</button>
	          	<button id="btn-delete-article" class="btn btn-edit btn-read"><i class="icon-trash"></i> {% trans 'Delete' %}</button>
	          	<button class="btn-post-article btn btn-primary"><i class="icon-pencil icon-white"></i> {% trans 'New Post' %}</button>
          	</div>
          	{% endif %}
          </div>
          <div id="no-article">
			<div class="hero-unit">
			  <h1>{% blocktrans with '<span class="current-name"></span>' as holder %}Nothing in {{ holder }} yet.{% endblocktrans %}</h1>
			  <p>{% trans 'Be a first person' %}</p>
			  <p>
			    <button class="btn-post-article btn btn-primary btn-large"><i class="icon-pencil icon-white"></i> {% trans 'New Post' %}</button>
			  </p>
			</div>          
          </div>
          <table id="article-list" class="table table-striped table-bordered table-condensed">
          	<caption class="well"></caption>
			<thead>
	          <tr>
	            <th>{% trans 'Category' %}</th>
	            <th>{% trans 'Title' %}</th>
	            <th>{% trans 'Author' %}</th>
	            <th>{% trans 'Liked' %}</th>
	            <th>{% trans 'Date' %}</th>
	          </tr>
	        </thead>
	        <tbody>
	        </tbody>
          </table>
          <div class="pagination"><ul id="article-pagination"></ul></div>    
        </div><!--/span-->
      </div><!--/row-->
{% include '_snippets/post-article.html' %}
      <div id="user-info" class="modal hide fade">
        <div id="user-info-body" class="modal-body">
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
{% endblock %}

{% block jslib %}
    {{ block.super }}
	<script type="text/javascript">
  	google.load("feeds", "1");	
	var RECAPTCHA_PUBLIC_KEY = "6LdU1M0SAAAAAIlUgA9SIgB4mri-A_9Y6Ht7oTGA";
	</script>
	{% js 'js/jquery.tagsinput.min.js' %}
	{% js 'js/jquery.toastmessage.js' %}
	{% js 'js/jquery.history.js' %}
	{% js 'js/jquery.pagination.js' %}
	{% js 'js/jquery.scrollTo-min.js' %}
	{% js 'js/jquery.autoresize.min.js' %}
	{% js 'tiny_mce/jquery.tinymce.js' %}
	{% js 'js/utils.js' %}
	{% js 'js/pretty.js' %}
	{% js 'js/editor.js' %}
	{% js 'js/service.js' %}
	{% js 'js/hash-url.js' %}    
{% endblock %}