{% load i18n %}<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8" />
    <title>{{title|default:"Open Alive" }}</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% block css %}
        <link
            href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css"
            rel="stylesheet">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/openalive.css" rel="stylesheet">
        <link href="/static/css/jquery.tagsinput.css" rel="stylesheet">
        <link href="/static/css/jquery.toastmessage.css" rel="stylesheet">
        
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72"
            href="/static/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114"
            href="/static/images/apple-touch-icon-114x114.png">
    {% endblock %}
</head>
<body>
    {% include '_snippets/nav.html' %}
    <div id="loading"><i class="icon-refresh"></i> {% trans 'Loading...' %}</div>
    <div id="container" class="container-fluid">{% block content %}{% endblock %}</div>
    <hr>
    {% include '_snippets/footer.html' %}
    {% block jslib %}
        <!-- http://code.google.com/intl/ko-KR/apis/libraries/devguide.html#jqueryUI -->
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
        </script>
        <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/i18n/js"></script>
    {% endblock %}
</body>
</html>